<template>
    <div v-if="loading">
        <div class="spinner-border text-secondary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div v-else class="dashboard">
        <h2>Dashboard Page</h2>
        <p>You are logged in!</p>
        <button class="btn btn-info text-while" @click="logout">Logout</button>
    </div>
</template>

<script>
export default {
    name: 'DashBoard',
    data() {
        return {
            loading: true,
            api: 'http://127.0.0.1:8000/api',
        }
    },
    mounted() {
        if (this.$store.state.token !== '') {
            this.axios.post(this.api + '/checkToken', {'token': this.$store.state.token})
            .then(res => {
                if (!res.data.success) {
                    this.$store.commit('setToken', res.data.token);
                }
                this.loading = false;
            })
            .catch(err =>{
                this.loading = false;
                // this.$store.commit('clearToken');
                this.$router.push('/login');
            });
        } else {
            this.loading = false;
            this.$router.push('/login');
        }
    },
    methods: {
        logout: function() {
            this.axios.post(this.api + '/logout', {'token': this.$store.state.token})
            .then(res => {
                this.$store.commit('clearToken');
                this.$router.push('/');
            });
        }
    }

}
</script>

<style scoped>
    .dashboard {
        margin: 5px 10px;
    }
    .dashboard p {
        color: brown;
    }
</style>
