<template>
    <div v-if="loading">
        <div class="spinner-border text-secondary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div v-else class="login">
        <form>
            <div class="form-group">
                <label>Email address</label>
                <input type="email" class="form-control" placeholder="Enter email" v-model="credentials.email">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" placeholder="Password" v-model="credentials.password">
            </div>
            <button type="submit" class="btn btn-primary mt-3" @click.prevent="login()">Login</button>
        </form>
    </div>
</template>

<script>

export default {
    name: 'Login',
    data() {
        return {
            credentials : {
                email:'',
                password: '',
            },
            loading: true,
            api: 'http://127.0.0.1:8000/api',
        }
    },
    mounted() {
        if (this.$store.state.token !== '') {
            this.axios.post(this.api + '/checkToken', {'token': this.$store.state.token})
            .then(res => {
                this.loading = false;
                if (res.data.success) {
                    this.$router.push('/dashboard');
                } else {
                    this.$store.commit('setToken', res.data.token);
                }
            })
            .catch(err => {
                this.loading = false;
                this.$store.commit('clearToken');
            });
        } else {
            this.loading = false;
        }
    },
    methods: {
        login: function() {
            this.axios.post(this.api + '/login', this.credentials)
            .then(res => {
                if (res.data.success) {
                    //Update the store
                    // console.log(res.data);
                    this.$store.commit('setToken', res.data.token);
                    this.$router.push('/dashboard');
                }
            })
            .catch(err => {
                console.log('error');
            });
        }
    }
}
</script>

<style scoped>
    .login {
        background-color: #fff;
        border: 1px solid #eee;
        padding: 10px;
        margin: 50px auto;
        width: 500px;
    }
    button {
        display: flex;
        margin: 0 auto;
    }
</style>
